# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Environment variables
.env
.env.*

# Virtual environments
venv/
.venv/

# Django static
staticfiles/

# Docker
*.pid

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test / coverage
.pytest_cache/
coverage/
